.picture{
  max-width:100%;
  max-height:100%;

margin-bottom:20px;

}

.definition{
  font-family: Nunito sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.008em;

  color: #252525;
}


.hi{
  font-family:Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;

  color:  #252525;

  margin-top: 20px;
  margin-bottom: 20px;
}


.accountlink{
  color: #2684FF;

  font-size: 16px;
  font-family: Nunito sans;
  font-weight:700;
}

a:link {

  text-decoration: none;

}



a:hover {
  text-decoration: none;
  color:#FEC269;
}
