.picture{
  max-width:22%;
  max-height:22%;

margin-bottom:20px;

}

.definition{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #595959;
letter-spacing: 0.008em;
}

.em-svg{
  font-size:12px;
margin-left:6px;
  vertical-align:top;
}

.helloicon{
  font-size:14px;
  margin-left:7px;
}

.hi{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 44px;
  color: #595959;
text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.getintouch{
  font-size: 17px;
    font-family: Nunito;
  font-weight:700;
  color:#FEC269;
text-align: left;
margin-top: 35px;
}

.accountlink{
  color: #595959;
  font-size: 14px;
  font-family: Nunito;
  font-weight:700;

text-align: center;
}

a:link {

  text-decoration: none;

}



a:hover {
  text-decoration: none;
  color:#FEC269;
}


.list ul{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #595959;
  list-style-type: circle;
}
.list ul li{
  padding-bottom:8px;
}
