.title {
  color: #424242;
  font-size: 32px;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;

}
.tag{
  margin-bottom:24px;
}

.tag span{
  padding: 4px 8px;
  background: #EAF3E7;
  border-radius: 4px;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 0.07em;
  color: #A1B794;

}

.quickfact{
  margin: 20px 0px 20px 0px;
  /*
  border-bottom: 1.1px solid #595959 ;
   border-top:1.1px solid #595959;
   */

  padding: 8px 0px 8px 0px;

}

.quickfact span{
  font-family: Nunito;
  font-style: normal;
  font-weight:700;
  font-size: 16px;
  line-height: 21px;
  color: #595959;
}

.quickfact p{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #595959;
  margin-bottom: 0px;
}
.section {
  margin-bottom: 56px;
}

.section p {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}

.subtitle-frame {
  width: 100%;

  margin-bottom: 24px;
  border-radius: 0px;
  display: flex;
  align-items: center;
}

.subtitle-frame span {
  width: 100%;
  font-family: Nunito;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #f1595a;
  background-color:#fbf3db;
}
 .question-frame{
   width: 100%;
   height: 50px;
   background-color: #F5F9FB;
   border-radius: 0px;
   display: flex;
   align-items: center;
   margin-bottom:8px;
 }

.question-frame i{
  font-size: 10px;
  margin-left: 8px;
  margin-right: 8px;

}

.question-frame span{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #595959;
}

.gif-section {
  margin-top: 24px;
}

.gif-section img {
  max-width: 30%;
  max-height: 30%;
  padding-bottom: 8px;
}

.gif-section div a {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #595959;
  margin-top: 8px;
}

.gif-section div a:hover {
  color: #3E98A8;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.list ul{
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #595959;
  list-style-type: circle;
}
.list ul li{
  padding-bottom:8px;
}
.picture {
  max-width: 100%;
  max-height: 100%;
  display: block;
border-radius: 5px;

  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2), 0 15px 25px 0 rgba(0, 0, 0, 0.085);
}

.slide {
  box-shadow: 0 1px 4px 0px rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.085);
border-radius: 5px;
}

.container {
  margin-top: 60px;
}
