.section{


/*  display: flex;
  align-items: center; */

border-radius: 20px;
}

.divider{
  border-top: 1px solid #B3BAC5;
  margin-bottom: 22px;
  margin-top: 28px;

}

.section p{
  font-family: Nunito;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
color:#505F79;
margin-bottom:16px;
}


.title{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  color:#253858;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 16px;

}



.button{
padding: 8px 16px;
background-color: #D0E2EB;
border-radius: 10px;

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 12px;
line-height: 19px;
color: #253858;

}


.hashtag{

  font-family: Nunito;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
/*  color: #7A869A;;*/
color:#505F79;
padding-left: 8px;

font-style: italic;
}

.em-svg {
  font-size: 14px;
    display: inline-block;
    vertical-align:unset !important;
margin-right:4px;
}

.container{
  margin-top:50px;
}

a:link {
  text-decoration: none;
}


a:hover {
  color:#7A869A;
}
