.title{
  color:#FEC269;
  font-size: 32px;
  font-family:'Open Sans', sans-serif;
  font-weight:700;

margin-top: 60px;
}

.definition{
  color:#9D9D9D;
  font-size: 15px;
  font-family:'Open Sans',monospace;
  font-weight:500;
  margin-bottom:9px;

}

.subtitle{
  color:#FEC269;
  font-size: 24px;
  font-family:'Open Sans', sans-serif;
  font-weight:700;
  margin-top:50px;
}

.colorimage{

max-width: 100%;
max-height: 100%;
display: block;
 margin-left: auto;
 margin-right: auto;

}

.typographyimage{

max-width: 100%;
max-height: 100%;
display: block;
 margin-left: auto;
 margin-right: auto;
}

.imagetext{
  color:#9D9D9D;
  font-size: 12px;
  font-family:'Open Sans',monospace;
  font-weight:500;
  margin-top: 7px;
  text-align: center;
}

.pageimage{
max-width: 100%;
max-height: 100%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
