.red{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  color: #F1595A;
  margin-bottom: 30px;
  margin-top: 20px;
}
.red:hover{
  color:#FEC269;
}

.footertext{
  color:#9D9D9D;
  font-size: 11px;
  font-family:'Open Sans',sans-serif;
  font-weight:500;
}
